<form [formGroup]="addChildForm" (ngSubmit)="onSubmit()">
  <h2>Ihr Kind anmelden!</h2>

  <div>
    <label for="name">Name</label>
    <input id="name" placeholder="Name" type="text" formControlName="name">
    <div *ngIf="nameError" style="color: red;">*Name is required.</div>
  </div>

  <div>
    <label for="birthDate">Geburtsdatum</label>
    <input id="birthDate" placeholder="Geburtsdatum" type="date" formControlName="birthDate">
    <div *ngIf="birthDateError" style="color: red;">
      *Birthdate is required.
      <div *ngIf="birthDateError && addChildForm.get('birthDate')?.hasError('childTooOld')">
        <div style="color: red;">
          The child is older than 5 years, unfortunately, registration is not available.
        </div>
      </div>
    </div>
  </div>

  <div>
    <label for="kindergardenId">Kindergarten</label>
    <select id="kindergardenId" formControlName="kindergardenId">
      <option value="" disabled>Bitte auswählen</option>
      <option *ngFor="let kindergarden of storeService.kindergardens" [ngValue]="kindergarden.id">
        {{kindergarden.name}}, {{kindergarden.address}}
      </option>
    </select>
    <div *ngIf="kindergardenError" style="color: red;">*Please choose a Kindergarten.</div>
  </div>

  <button mat-raised-button type="submit" [disabled]="!addChildForm.valid" mat>Erfassen</button>
</form>
