// kindergarten.component.scss

// Container styles
.kindergarten-container {
  padding: 20px;
  border: 9cap solid #ffffff00;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff00;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 0 20px rgb(0, 0, 0);
  }

  h3 {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin-bottom: 10px;
    font-size: 2rem;
  }

  p {
    font-family: 'Arial', sans-serif;
    color: #666;
    margin-bottom: 5px;
    font-size: 1.5rem;
  }
  img {
    max-width: 30%; // Make sure the image doesn't exceed its container width
    height: auto;    // Maintain the image's aspect ratio
    margin-top: 10px; // Adjust as needed
  }
}
footer {
  background-color: #5c7192;
  color: #fff;
  text-align: center;
  padding: 1em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}