<div class="header-container">
   <img width="500" [src]="imagePath" alt="Header Image">

  
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="['/homepage']">
    <mat-icon>home</mat-icon>
    <span>Homepage</span>
  </button>
    <button mat-menu-item [routerLink]="['/dashboard']">
      <mat-icon>description</mat-icon>
      <span>Anmeldung</span>
    </button>
    <button mat-menu-item [routerLink]="['/kindergarten']">
      <mat-icon>school</mat-icon>
      <span>Kindergärten </span>
    </button>
    <button mat-menu-item [routerLink]="['/kontaktpage']">
      <mat-icon>contact_page</mat-icon>
      <span>Kontakt </span>
    </button>
    <button mat-menu-item [routerLink]="['/about']">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>
    
  </mat-menu>
</div>
