<div class="header-container">
   <img width="500" [src]="imagePath" alt="Header Image">

  
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/dashboard']">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </button>
    <button mat-menu-item [routerLink]="['/about']">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>
    <button mat-menu-item [routerLink]="['/kindergarten']">
      <mat-icon>kindergarten</mat-icon>
      <span>Kindergärten</span>
    </button>
  </mat-menu>
</div>
