<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Our Kindergarten Registration App</title>
</head>

<body>

  <header>
    <h1>Welcome to Our Kindergarten Website</h1>
  </header>

  <section>
    <h2>🌟 Welcome to our Kindergarten - Where Every Child Shines! 🌟</h2>

    <p>We're thrilled to have you visit our online home. At our Kindergarten, warmth, joy, and discovery await your child. Explore our site with a smile, and let the journey into the world of early education begin! If you have any questions along the way, our virtual doors are always open. Happy exploring!.</p>
  </section>



   <footer>
    <p>Thank you for choosing our Kindergarten. We look forward to welcoming your child into our community!</p>
    <p>© 2024 Khaled Alnahhas</p>
  </footer>

</body>

</html>
